{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="sidebar">
        <div class="Name">
            <div class="logo"></div>
            <br>
            <div class="companyName">OnlyProjects</div>
        </div>
        <div class="menu">
            <a class="link" href="/home">
                <img class="img" src="../static/ico/construction_project_plan_building_architect_design_develop-74_icon-icons.com_60249.ico" alt="">
                <div class="menu_str">Главная</div>
            </a>
            <a class="link" href="/projects">
                <img class="img" src="../static/ico/construction_project_plan_building_architect_design_develop-62_icon-icons.com_60212.ico" alt="">
                <div class="menu_str">Проекты</div>
            </a>
            <a class="link" href="/create">
                <img class="img" src="../static/ico/construction_project_plan_building_architect_design_develop-71_icon-icons.com_60239.ico" alt="">
                <div class="menu_str">Загрузить проект</div>
            </a>
            {% if current_user.title == 'admin' %}
                <a class="link" href="/post">
                    <img class="img" src="../static/ico/construction_project_plan_building_architect_design_develop-71_icon-icons.com_60239.ico" alt="">
                    <div class="menu_str">Админ</div>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% if project and current_user.is_authenticated %}
            {% if (current_user.title == 'admin' or project.author == current_user.id) and project.condition == 'considers' %}
                <div class="project_info">
                    {% if current_user.title == "admin" %}
                            <form class="post_box" method="post">
                                <a href="/delete/{{ project.id }}">Удалить проект</a>
                                <input type="submit" value="Опубликовать">
                            </form>
                    {% endif %}
                    <div class="project_title">
                        <div class="project_title_img">
                            <img src="../static/projects/{{project.directory}}/{{project.directory}}_title_img.jpg" alt="">
                        </div>
                        <div class="project_title_name">
                            Проект "{{ project.name }}" <br>
                            Автор: {{ author }} <br>
                            {% if project.condition == 'considers' %}
                                Проект находится на рассмотрении у модерации.
                            {% endif %}
                        </div>
                    </div>
                    {% for desc in project.full_disc.split('\n') %}
                        <p class="project_info_description">
                            {{ desc }}
                        </p><br>
                    {% endfor %}
                </div>
                <h4 class="title_gallery">Галерея</h4>
                <div class="gallery">
                    {% for i in range(project.img_count) %}
                        <a title="Нажмите для увеличения" target="_blank" href="/project/{{project.directory}}/{{ i }}"><img src="../static/projects/{{project.directory}}/{{project.directory}}_photo_{{ i }}.jpg" alt=""></a>
                    {% endfor %}
                </div>
            {% else %}
                {% if project.condition == 'published'%}
                    <div class="project_info">
                        <div class="project_title">
                            <div class="project_title_img">
                                <img src="../static/projects/{{project.directory}}/{{project.directory}}_title_img.jpg" alt="">
                            </div>
                            <div class="project_title_name">
                                Проект "{{ project.name }}" <br>
                                Автор: {{ author }}
                            </div>
                        </div>
                        {% for desc in project.full_disc.split('\n') %}
                            <p class="project_info_description">
                                {{ desc }}
                            </p><br>
                        {% endfor %}
                    </div>
                    <h4 class="title_gallery">Галерея</h4>
                    <div class="gallery">
                        {% for i in range(project.img_count) %}
                            <a title="Нажмите для увеличения" target="_blank" href="/project/{{project.directory}}/{{ i }}"><img src="../static/projects/{{project.directory}}/{{project.directory}}_photo_{{ i }}.jpg" alt=""></a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="hello">Недостаточно прав</p>
                {% endif %}
            {% endif %}
        {% else %}
            <p class="hello">Проект не найден.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
