<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sing up</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>

<body>

    <form class="box" method="post">
        <h1>Создать аккаунт</h1>
            {% if message != "" %}
                <error>
                    <img src="../static/img/error.ico" alt="">
                    <h5>{{message}}</h5>
                </error>
            {% endif %}
        <input type="text" name="login" placeholder="Логин">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Пароль">
        <input type="password" name="password2" placeholder="Повторите пароль">
        <input type="submit" name="" value="Зарегестрировать">
        <div class="bottom-text">
          Есть аккаунт? <a href="/login">Войти</a>
        </div>
        <a class="back" href="/">Назад</a>
    </form>


</body>

</html>
